# Verbose log output
verbose: true

# HTTP port
http-port: 8080

# reddit config
reddit:
    # username
    username: "your-username"
    # maximum amount of times attempt reconnection if connection is suddenly lost
    max-retry-attempts: 10
    # number of seconds to wait before each retry attempt
    retry-attempt-wait-time: 10

# spotify config
spotify:
    # client id (or set SPOTIFY_CLIENT_ID)
    client-id: "your-client-id"
    # client secret (or set SPOTIFY_CLIENT_SECRET)
    client-secret: "your-client-secret"

# define your spotify playlists
playlists:
    -
        # playlist name, playlist will be created if it doesn't exist
        name: "playlist-one"
        # subreddits to follow
        subreddits:
            # with and withour r/ prefix is are supported 
            - Music 
    -
        # supports using spotify playlist id 
        id: "spotify-id-for-playlist-two"
        subreddits:
            - r/Music

